<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1" data-provider-thread-count="8" parallel="tests">
    <test name="Smoke" parallel="classes">
        <classes>
            <class name="org.example.runner.CucumberWithTestNGRunnerTest"/>
        </classes>
    </test>
</suite>